doctype html 
html(lang="ko")
    head 
        title  #{pageTitle} | Wetube
        //- #{}은 퍼그에게 이게 변수임을 알려주는 것.
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            if fakeUser.loggedIn
                small Hello #{fakeUser.username}
            nav

                ul
                    if fakeUser.loggedIn
                        li 
                            a(href="/logout") Log out
                    else
                        li 
                            a(href="/login") Login
            h1=pageTitle    //놀랍게도 '='를 사용하면 #{}을 하지 않아도 pageTitle이변수로 취급된다. 단, title처럼 다른 text랑 섞거나 여러개의 변수를 사용한다면 #{}
        main
            block content
        //- content란 이름의 block을 형성하면, (base.pug를 extends한 파일들의 경우) content 블록에 각 파일마다 여러 다른 내용을 집어 넣을 수 있게 된다.
    include partials/footer.pug

    //- 이렇게 include하면 일일히 footer을 바꿔주지 않아도 footer퍼그파일만 수정하면 일괄 적용된다.